.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 0 auto;

}
.container {
  position: relative;
  margin: 25px 25px;
}
.front {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
  transform: rotateY(0deg);
  backface-visibility: hidden;
  transition: 0.4s;
}
.back {
  width: 150px;
  height: 150px;
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: 1s;
}
.container.turn .front {
  transform: rotateY(-180deg);
}
.container.turn .back {
  transform: rotateY(0deg);
}